.add{
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 50px;
}
.cal{
	height: 450px;
	width: 500px;
	float: left;
	margin-left: 30%;
	margin-top: 30px;
	border-radius: 20px;
	background-color: yellow;
	text-align: center;
}
.body{
	height: 100%;
	width: 100%;
	float: left;
	border-radius: 20px;
	background-color: pink;
	font-size: 25px;
	padding-top: 20px;
}
input{
	width: 300px;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
}
button{
	height: 35px;
	width: 100px;
	background-color: silver;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-left: 5px;
}
.result1{
	width: 350px;
	margin-top: 20px;
}